<form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="title">Title</label>
        <input id="title" type="text" pInputText formControlName="title" />
      </div>
      <div class="p-field">
        <label for="body">Body</label>
        <textarea id="body" pInputTextarea formControlName="body"></textarea>
      </div>
      <button pButton type="submit" label="Add Item" [disabled]="addItemForm.invalid"></button>
    </div>
  </form>
  